# Dataframes

In [2]:
import numpy as np
import pandas as pd

La mayoría del tiempo se trabaja con data frames creados en fuentes externas e importados en csv. Para esta ocasión crearemos uno de manera manual.

In [5]:
df= pd.DataFrame({
    'Población': [
        35.467,
        63.951,
        80.94,
        60.665,
        127.061,
        64.511,
        318.523],
    'PBI': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Superficie': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'IDH': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
})

In [6]:
df

   Población       PBI  Superficie    IDH Continent
0     35.467   1785387     9984670  0.913   America
1     63.951   2833687      640679  0.888    Europe
2     80.940   3874437      357114  0.916    Europe
3     60.665   2167744      301336  0.873    Europe
4    127.061   4602367      377930  0.891      Asia
5     64.511   2950039      242495  0.907    Europe
6    318.523  17348075     9525067  0.915   America

In [7]:
df.index = [
    'Canada',
    'Francia',
    'Alemania',
    'Italia',
    'Japón',
    'Reino Unido',
    'Estados Unidos',
]

In [8]:
df

                Población       PBI  Superficie    IDH Continent
Canada             35.467   1785387     9984670  0.913   America
Francia            63.951   2833687      640679  0.888    Europe
Alemania           80.940   3874437      357114  0.916    Europe
Italia             60.665   2167744      301336  0.873    Europe
Japón             127.061   4602367      377930  0.891      Asia
Reino Unido        64.511   2950039      242495  0.907    Europe
Estados Unidos    318.523  17348075     9525067  0.915   America