# Dataframes

In [ ]:
import numpy as np
import pandas as pd

La mayoría del tiempo se trabaja con data frames creados en fuentes externas e importados en csv. Para esta ocasión crearemos uno de manera manual.

In [ ]:
df= pd.DataFrame({
    'Población': [
        35.467,
        63.951,
        80.94,
        60.665,
        127.061,
        64.511,
        318.523],
    'PBI': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Superficie': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'IDH': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continente': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
})

In [ ]:
df

In [ ]:
df.index = [
    'Canada',
    'Francia',
    'Alemania',
    'Italia',
    'Japón',
    'Reino Unido',
    'Estados Unidos',
]

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.info() # devuelve información rápida sobre el df como los tipos y los no nulos para identificación.

In [ ]:
df.size

In [ ]:
df.shape # identifica las dos dimensiones del dataframe. un array bidimensional es un dataframe en python.

In [ ]:
df.describe() # medidas descriptivas

In [ ]:
df.dtypes

In [ ]:
df.dtypes.value_counts()

# Indexado, Selección y Truncado

Las columnas individuales del dataframe pueden ser seleccionadas con indexado regular. Cada columna se representa como una <code>Serie</code>.

In [ ]:
df['Población']

In [ ]:
df.loc['Canada'] # localiza por nombre de índice

In [ ]:
df.iloc[-1] # localiza por índice o ubicación de fila, en este caso, la última

In [ ]:
df['Población']

In [ ]:
df.iloc[[0,1,-1]] # selecciona puntualmente por índice

In [ ]:
df.iloc[1:3] # selecciona por secuencia entre índice

In [ ]:
df.iloc[1:3,3] # Agrega selección de columna, en este caso IDH.

# Selección condicional con booleanos

In [ ]:
df['Población'] > 70 # devuelve true o false si la población es mayor a 70.

In [ ]:
df.loc[df['Población'] > 70] # aplicamos el booleano para que seleccione los valores de población mayores a 70

# Dejar datos afuera

Opuesto a seleccionar, podemos hacer "dropping", que sería dejar afuera valores que no nos interesan.

In [ ]:
df.drop('Canada')

In [ ]:
df.drop(['Canada','Japón'])

In [99]:
df.drop(columns=['Población','IDH'])

                     PBI  Superficie Continente
Canada           1785387     9984670    America
Francia          2833687      640679     Europe
Alemania         3874437      357114     Europe
Italia           2167744      301336     Europe
Japón            4602367      377930       Asia
Reino Unido      2950039      242495     Europe
Estados Unidos  17348075     9525067    America

# Operaciones