# Dataframes

In [2]:
import numpy as np
import pandas as pd

La mayoría del tiempo se trabaja con data frames creados en fuentes externas e importados en csv. Para esta ocasión crearemos uno de manera manual.

In [5]:
df= pd.DataFrame({
    'Población': [
        35.467,
        63.951,
        80.94,
        60.665,
        127.061,
        64.511,
        318.523],
    'PBI': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Superficie': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'IDH': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
})

In [6]:
df

   Población       PBI  Superficie    IDH Continent
0     35.467   1785387     9984670  0.913   America
1     63.951   2833687      640679  0.888    Europe
2     80.940   3874437      357114  0.916    Europe
3     60.665   2167744      301336  0.873    Europe
4    127.061   4602367      377930  0.891      Asia
5     64.511   2950039      242495  0.907    Europe
6    318.523  17348075     9525067  0.915   America

In [7]:
df.index = [
    'Canada',
    'Francia',
    'Alemania',
    'Italia',
    'Japón',
    'Reino Unido',
    'Estados Unidos',
]

In [8]:
df

                Población       PBI  Superficie    IDH Continent
Canada             35.467   1785387     9984670  0.913   America
Francia            63.951   2833687      640679  0.888    Europe
Alemania           80.940   3874437      357114  0.916    Europe
Italia             60.665   2167744      301336  0.873    Europe
Japón             127.061   4602367      377930  0.891      Asia
Reino Unido        64.511   2950039      242495  0.907    Europe
Estados Unidos    318.523  17348075     9525067  0.915   America

In [9]:
df.columns

Index(['Población', 'PBI', 'Superficie', 'IDH', 'Continent'], dtype='object')

In [10]:
df.index

Index(['Canada', 'Francia', 'Alemania', 'Italia', 'Japón', 'Reino Unido',
       'Estados Unidos'],
      dtype='object')

In [11]:
df.info() # devuelve información rápida sobre el df como los tipos y los no nulos para identificación.

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to Estados Unidos
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Población   7 non-null      float64
 1   PBI         7 non-null      int64
 2   Superficie  7 non-null      int64
 3   IDH         7 non-null      float64
 4   Continent   7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [12]:
df.size

35

In [13]:
df.shape # identifica las dos dimensiones del dataframe. un array bidimensional es un dataframe en python.

(7, 5)

In [16]:
df.describe() # medidas descriptivas

        Población           PBI    Superficie       IDH
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [18]:
df.dtypes

Población     float64
PBI             int64
Superficie      int64
IDH           float64
Continent      object
dtype: object

In [19]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

# Indexado, Selección y Truncado

Las columnas individuales del dataframe pueden ser seleccionadas con indexado regular. Cada columna se representa como una <code>Serie</code>.

In [21]:
df['Población']

Canada             35.467
Francia            63.951
Alemania           80.940
Italia             60.665
Japón             127.061
Reino Unido        64.511
Estados Unidos    318.523
Name: Población, dtype: float64